.auth-section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-form{
    width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0005;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    padding-bottom: 5%;
    gap: 20px;
    position: relative;
    overflow: hidden;
}

.a-form::after{
    content: "";
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,121,9,1) 55%, rgba(0,212,255,1) 88%);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    animation: rte 20s linear infinite;
}

.a-form::before{
    content: "";
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,121,9,1) 55%, rgba(0,212,255,1) 88%);
    position: absolute;
    z-index: -1;
    top: -50%;
    left: -50%;
    border-radius: 50%;
    animation: rte 20s linear infinite;
}

@keyframes rte {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

.a-form h6{
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 10%;
    text-decoration-thickness: #fff;
}

.a-form input{
    width: 90%;
    height: 50px;
    padding: 1%;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 2px 5px 10px #0005;
    padding-left: 10px;
}

.a-form button{
    width: 90%;
    height: 50px;
    padding: 1%;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 5px 10px #70707050;
    padding-left: 10px;
    background-color: #111;
    color: #fff;
    margin-top: 10%;
    transition: 0.3s linear;
}

.a-form button:hover{
    background-color: #1118;

}


@media screen and (max-width:950px) {
    .auth-section{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .a-form{
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #0005;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1%;
        padding-bottom: 5%;
        gap: 20px;
        position: relative;
        overflow: hidden;
    }
    
    .a-form::after{
        content: "";
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,121,9,1) 55%, rgba(0,212,255,1) 88%);
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        animation: rte 20s linear infinite;
    }
    
    .a-form::before{
        content: "";
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,121,9,1) 55%, rgba(0,212,255,1) 88%);
        position: absolute;
        z-index: -1;
        top: -50%;
        left: -50%;
        border-radius: 50%;
        animation: rte 20s linear infinite;
    }
    
    @keyframes rte {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(359deg);
        }
    }
    
    .a-form h6{
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 10%;
        text-decoration-thickness: #fff;
    }
    
    .a-form input{
        width: 90%;
        height: 50px;
        padding: 1%;
        border-radius: 5px;
        outline: none;
        border: none;
        box-shadow: 2px 5px 10px #0005;
        padding-left: 10px;
    }
    
    .a-form button{
        width: 90%;
        height: 50px;
        padding: 1%;
        border-radius: 5px;
        border: none;
        box-shadow: 2px 5px 10px #70707050;
        padding-left: 10px;
        background-color: #111;
        color: #fff;
        margin-top: 10%;
        transition: 0.3s linear;
    }
    
    .a-form button:hover{
        background-color: #1118;
    
    }
}